#
# Kconfig to support asd boards
#


config MACH_MESON6_PI3100
       depends on ARCH_MESON6
        bool "Meson6 PI3100 board"
        help
          Support for Amlogic Meson6 PI3100 customer platform.

config MACH_MESON6_PI3900
       depends on ARCH_MESON6
        bool "Meson6 PI3900 board"
        help
          Support for Amlogic Meson6 PI3900 customer platform.